body {
    margin: 0;
    padding: 0;
    background: rgba(236, 236, 236, 1);
    overflow-x: hidden;
}
a {
    color: inherit;
}
@font-face {
    font-family: entypo;
    src: url(../fonts/Entypo.otf);
}
section.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}
aside.menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 240px;
    height: 100%;
    background: rgba(32, 142, 234, 1);
    box-shadow: 3px 1px 5px rgba(0,0,0,.2)
}
aside.menu .logo {
    width: 100%;
    height: 100px;
    background: url(../img/logo.png) #1280db;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10px 10px;
}
aside.menu ul {
    padding: 0;
    padding-top: 20px;
}
aside.menu ul li {
    list-style: none;
    width: 100%;
    padding: 10px 15px;
    transition: all 300ms ease;
}
aside.menu ul li:hover {
    background: #1280db;
}
aside.menu ul li:hover span {
    border: 2px solid #fff;
}
aside.menu ul li span {
    display: inline-block;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    line-height: 30px;
    text-align: center;
}
aside.menu ul li a {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
}
article.content {
    background: #fff;
    margin-left: 240px;
    width: 80%;
    min-height: 500px;
    padding: 20px;
}
article.content h1.title {
    font-family: "century gothic";
    font-weight: lighter;
    font-size: 1.5rem;
    margin: 0px;
    margin-bottom: 50px;
}
h1.ui.header i {
    color: #1280DB;
}
.ann {
    margin: 5px;
    display: inline-block;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
}