body {
    margin: 0;
    padding: 0;
    background: rgba(236, 236, 236, 1);
}
@font-face {
    font-family: entypo;
    src: url(../fonts/Entypo.otf);
}
section.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
    height: 100%;
}
div.info {
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
}
div.info .foot-note {
    background: rgba(0,0,0,.8);
    width: 400px;
    padding: 8px;
    position: absolute;
    bottom: 10%;
    left: 0px;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: 18px;
    border-left: 10px solid rgba(32, 142, 234, 1);
}
div.info h2 {
    font-size: 1.3rem;
    margin: 8px 0px;
    border-bottom: 1px dotted #fff;
}
div.info .foot-note p {
    margin: 0;
}
div.login {
    position: fixed;
    width: 30%;
    background: url(../img/bg2.png) #fff;
    height: 100%;
    right: 0;
    top: 0;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.2);
}
div.login form {
    border: 1px solid #ccc;
    width: 80%;
    margin: 120px auto;
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    padding: 10px;
}
div.login form h2 {
    font-family: 'Century Gothic';
    margin: 8px 0;
    text-align: center;
}
div.login form input[type='text'] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 2px solid silver;
    -moz-appearance: field;
}
div.login form input[type='submit'] {
    border: 0;
    background: rgba(28, 125, 207, 1);
    color: #fff;
    padding: 5px 10px;
    font-family: 'Century Gothic';
    box-shadow: 0px 1px 1px rgba(0,0,0,.2);
    cursor: pointer;
    transition: all 0.3s ease;
}
div.login form input[type='submit']:hover {
    background: rgba(32, 142, 234, 1);
}
div.login span {
    position: absolute;
    bottom: 10px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: 'Century Gothic';
    color: rgba(140, 140, 140, 1);
}